$black: #000000;
$wait:#ffffff;


.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.hamburger2 {
  margin-top: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: auto;
}

.hamburger2 .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #191919;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1{
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}

.navigation {
  display: none;

}

.navigation-block {
  display: block;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  background-color: white;
  left: -1px;
  opacity: 0.9;
  width: 50%;
  cursor: pointer;
  color: #4E4E4E;
  margin-left: 50%;
  text-align: left;
  -webkit-user-select: none;
}



  .menu-li {
    margin-left: 10px;
  }


  #menu a {
    text-decoration: none;
    color: $black;
  }

  #menu a:hover {
    color: #57A4A4;
  }


  *, *:after, *:before {
    box-sizing: border-box;

  }

  .header-menu {
    margin-top: 23px;
  }

  .logo {
    text-align: right;
    display: block;
  }

  .hamburger {
    --thickness: 2px;
    display: inline-block;
    border: none;
    line-height: 37px;
    cursor: pointer;
    background-color: $black;
    width: 44px;
    height: 37px;
    text-align: center;
    position: initial;
  }

  span {
    position: relative;
    vertical-align: middle;
  }

  span,
  span::after,
  span::before {
    display: inline-block;
    height: var(--thickness);
    background: $wait;
    width: 17px;
  }

  span::after,
  span::before {
    content: '';
    position: absolute;
    left: 0;
  }

  span::before {
    top: -6px;
  }

  span::after {
    bottom: -6px;
  }


  .img-header {
    width: 100%;
    margin-top: 23px;
  }

  .our-post {
    font-size: 14px;
    line-height: 22px;
    color: #4E4E4E;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 38px;
  }

  .post {
    display: block;
    margin: 38px auto;
    width: 99%;
  }


  .our-post-img {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #4E4E4E;
  }

  .our-post-img-p {
    font-size: 11px;
    line-height: 20px;
    font-weight: normal;
    color: #7C7C7C;
    margin-top: 19px;
  }

  .post-shot {
    margin: 77px auto;
    width: 99%;
  }

  .img-post {
    width: 50%;
    margin: 28px 0 11px 0;
  }

  .img-bike {
    width: 90%;
    margin-top: 13px;
  }

  .footer {
    background-color: $black;
    margin-top: 42px;
  }

  .get-h {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: $wait;
    text-align: center;
    text-transform: uppercase;
    padding-top: 38px;
  }

  .footer-text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    text-align: center;
    margin: 8px auto;
    display: block;
    width: 83%;
  }


  .footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
  }

  .icon-container {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-color {
    border: 2px solid #F8902E;
    color: #F8902E;
  }

  .icon-color-facebook {
    border: 2px solid #39599F;
    color: #39599F;
  }

  .icon-color-tumblr {
    border: 2px solid #45B0E3;
    color: #45B0E3;
  }

  .icon-color-dribbble {
    border: 2px solid #D97AB0;
    color: #D97AB0;
  }

  .icon-color-pinterest {
    border: 2px solid #CC212C;
    color: #CC212C;
  }

  i:before {
    font-size: 13px;
  }

  .contact {
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 47px;
    padding-top: 26px;
  }

  .contact-a {
    text-align: center;

  }

  .contact-section {
    margin: 0 auto;
    width: 90%;
  }

  //.div-block-nav {
  //  display: none;
  //}


  .div-text-block {
    display: none;
  }

  .our-post-img-block {
    display: none;
  }

  .footer-div-block {
    display: none;
  }

  @media (min-width: 768px) {

    .navigation {
      text-align: center;
    }

    .img-block {
      display: none;
    }

    #menu li {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;

    }
    .main-menu {
      text-decoration: none;
      color: #191919;
      margin: 20px;
      font-size: 11px;
      line-height: 22px;
      font-family: Roboto, sans-serif;
      cursor: pointer;
      text-transform: uppercase;
    }
    .main-menu:hover {
      color: #57A4A4;
    }

    .header-menu {
      font-size: 11px;
      line-height: 22px;
      font-family: Roboto, sans-serif;
      cursor: pointer;
      text-transform: uppercase;
    }


    .img-header {
      width: 100%;
    }
    .our-post {
      font-size: 16px;
      line-height: 22px;
      padding-top: 47px;
    }
    .text-block {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
      font-weight: normal;
    }
    .img-post {
      width: 23%;
      margin: 28px 0 11px 0;
    }
    .our-post-img {
      font-family: Roboto, sans-serif;
      font-weight: bold;
      color: #4E4E4E;
      font-size: 16px;
      line-height: 30px;
    }
    .our-post-img {
      display: flex;
    }
    .our-post-img-p {
      font-weight: normal;
      color: #7C7C7C;
      font-size: 12px;
      line-height: 20px;
      margin: 0 0 13px 0;

    }
    .text {
      margin: 45px 0 0 20px;
    }

    .footer-text-block {
      font-size: 16px;
      line-height: 28px;
      align-items: center;
      text-align: center;
      color: #B9B9B9;
      width: 85%;
      margin: 22px auto;
      font-family: Roboto, sans-serif;

    }
    .img-bike {
      width: 32%;
      margin-top: 35px;
      margin-bottom: 50px;
    }
    .contact {
      display: flex;
      font-size: 16px;
      line-height: 26px;
      color: #B9B9B9;
    }
    .contact-a {
      margin: 2px;
    }
    .post-shot {
      background-color: #fafafb;
    }
    .post-shot {
      margin: 0 auto;
      width: 99%;
    }
    .footer {
      background-color: $black;
      margin: 0;
    }
    .our-post-img-block {
      display: flex;
    }
    .footer-text {
      display: none !important;
    }
    .footer-div-block {
      display: block !important;
    }
    .div-text-block {
      display: block !important;
    }
    .logo {
      display: none
    }
    .div-block-nav {
      display: block !important;
    }
    .navigation {
      display: block;
    }
  }





  @media (min-width: 1200px) {

    .display {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
    }
    .logo {
      display: none !important;
    }
    .div-block-nav {
      display: block;
    }
    .div-text-block {
      display: block;
    }
    .our-post-img-block {
      font-family: Roboto, sans-serif;
      font-size: 14px;
      line-height: 30px;
      font-weight: bold;
      color: #4E4E4E;
      display: flex;
    }
    .img-bike {
      width: 25%;
      margin-top: 35px;
      margin-bottom: 50px;
    }
    .img-post {
      width: 33%;
    }
    .footer-text {
      display: none;
    }
    .footer-div-block {
      display: block;
      width: 59%;
      margin: auto;
    }
    .navigation {
      display: block;
    }
  }




